<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pedro Netto - {{ title }}</title>
    <meta name="description" content="{{ description | default("Pedro Netto's website") + ' - ' + title }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/prism.css">
    <script src="/assets/js/theme.js"></script>
    <script defer src="https://cloud.umami.is/script.js" data-website-id="6bee7ceb-6636-4498-9524-5e21d4b48fd2"></script>
</head>
<body>
    <div class="container">
        <header class="site-header">
            <a href="/" class="logo" aria-label="Home">
                <img src="/images/logo.svg" alt="MySite Logo" class="logo-img" height="80">
            </a>
            <div style="display: flex; align-items: center; gap: var(--space-md);">
                <nav>
                    <ul>
                        <li><a href="/" {% if page.url == "/" %}aria-current="page"{% endif %}>Home</a></li>
                        <li><a href="/bio/" {% if page.url == "/bio/" %}aria-current="page"{% endif %}>Bio</a></li>
                        <li><a href="/work/" {% if page.url == "/work/" %}aria-current="page"{% endif %}>Work</a></li>
                        <li><a href="/photos/" {% if page.url == "/photos/" %}aria-current="page"{% endif %}>Photos</a></li>
                        <li><a href="/logs/" {% if page.url == "/logs/" %}aria-current="page"{% endif %}>Logs</a></li>
                        <li><a href="/contact/" {% if page.url == "/contact/" %}aria-current="page"{% endif %}>Contact</a></li>
                    </ul>
                </nav>
                <div class="theme-switch-wrapper">
                    <label class="theme-switch" for="theme-toggle" aria-label="Toggle Dark/Light Mode">
                        <input type="checkbox" id="theme-toggle" />
                        <div class="slider"></div>
                    </label>
                </div>
            </div>
        </header>

        <main>
            {{ content | safe }}
        </main>

    </div>
</body>
</html>
