---
pagination:
  data: collections
  size: 1
  alias: tag
permalink: "logs/{{ tag }}/index.html"
layout: layouts/base.njk
containerClass: narrow
---

<p><a href="/logs/">← back</a></p>

<header class="page-header">
  <h1>
    Category:
    {% if tag.match("^[0-9]{4}-[0-9]{2}") %}
      {{ tag.split('-') | reverse | join('/') }}
    {% else %}
      {{ tag }}
    {% endif %}
  </h1>
</header>

<ul class="post-list">
  {% set taglist = collections[ tag ] %}
  {% for post in taglist | reverse %}
    <li class="post-item">
      <div class="post-item-header">
        <div class="post-main">
          <a href="{{ post.url }}" class="post-title">{{ post.data.title }}</a>
        </div>
        <span class="post-meta">{{ post.date | postDate }}</span>
      </div>

      <div class="tags-list mini-tags">
        {% for tag in post.data.tags %}
          {% if tag != "post" %}
            <a href="/logs/{{ tag | slug }}/" class="badge">
              {% if tag.match("^[0-9]{4}-[0-9]{2}") %}
                {{ tag.split('-') | reverse | join('/') }}
              {% else %}
                {{ tag }}
              {% endif %}
            </a>
          {% endif %}
        {% endfor %}
      </div>
    </li>
  {% endfor %}
</ul>
