---
layout: layouts/base.njk
title: Now
containerClass: narrow
---

<section id="timeline" class="post-content">
    <h2 class="underlined">Timeline</h2>

    <p>
        This is a collection of things that caught my attention or that I
        did/made. I don't necessarily go deep in all of them but it's nice to
        keep track.
    </p>

    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-year" id="now">Now</div>
            <a href="#now"></a>
            <div class="timeline-content">
                <ul>
                    <li>
                        Topics
                        <ul>
                            <li>Cloudflare Storage</li>
                            <li>Deployment pipelines on Github</li>
                            <li>Deno apps</li>
                            <li>
                                Git submodules and/vs. CDN: ways to share code
                                among projects
                            </li>
                            <li>
                                AI: Embeddings and Vector search
                            </li>
                        </ul>
                    </li>

                    <li>
                        Artifacts
                        <ul>
                            <li>
                                Built <a
                                    href="https://demo-garden.pnetto.com/spotify-client"
                                >Spotify Client</a>
                                , A way to visualize and browse my Spotify
                                albums better
                            </li>
                            <li>
                                Built a CI/CD <a
                                    href="https://github.com/pnettto/design-system/blob/main/.github/workflows/cdn.yml"
                                >pipeline</a> for my UI Kit which allows me to
                                continuously publish improvements to "latest"
                                and to version them with my <a
                                    href="https://github.com/pnettto/design-system/blob/main/bump.sh"
                                >bump</a> script.
                            </li>
                            <li>
                                http://pnetto.store is my new Cloudflare powered
                                CDN. This website's media assets and my homemade
                                <a
                                    href="https://pnettto.github.io/design-system/"
                                >UI Kit</a> are now hosted there (where?).
                            </li>
                            <li>
                                Career reflections: what valueable skill$ do I
                                have? Where do I want be? Which of these move me
                                the most: being an engineer or a business
                                person? (<a
                                    href="/other/professional_profile_wip/"
                                >Very WIP reflection</a>)
                            </li>
                            <li>
                                LLM-slopped a project to mimic what the amazing
                                <a href="https://exopriors.com/scry">Scry</a>
                                might do internally.
                                <a
                                    href="https://github.com/pnettto/slop-vector-seach/"
                                >See slop</a>.
                            </li>
                        </ul>
                    </li>

                    <li>
                        Links
                        <ul>
                            <li>
                                <a
                                    href="https://henry.codes/writing/a-website-to-destroy-all-websites/"
                                >https://henry.codes/writing/a-website-to-destroy-all-websites/</a>
                                - Beautiful (in and out) post about the
                                forgotten (or forsaken?) potential of the web.
                                Plus great reading and small web browsing tips.
                            </li>
                            <li>
                                <a
                                    href="https://exopriors.com/scry"
                                >https://exopriors.com/scry</a>
                                - Incredible tool that uses vector databases to
                                bring semantic search to millions of documents
                                and spit out interatable SQL queries. It went
                                mostly right over my head but it was intriguing
                                enough for me to slop a <a
                                    href="https://github.com/pnettto/slop-vector-seach/"
                                >prototype</a> It also nudged me towards reading
                                on <a
                                    href="https://www.geeksforgeeks.org/sqlite/sqlite-full-text-search/"
                                >SQlite FTS5</a>.
                            </li>
                            <li>
                                <a
                                    href="https://www.youtube.com/watch?v=ctBGyXzu5Ao"
                                >Tracy Chapman Refuses to Join Social Media (10
                                    years ago)</a>
                                - Got reminded of her incredible voice through a
                                <a
                                    href="https://open.spotify.com/track/4vDBJeeQCbhP9FaPPMsYkY?si=f55d5e3b977d4a90"
                                >great track</a> and went on to find a message I
                                really needed to hear.
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-year" id="2025-12">2025-12</div>
            <a href="#2025-12"></a>

            <div class="timeline-content">
                <ul>
                    <li>
                        Created Demo Garden, a space to host small experiments
                        in whatever environment can be Dockerized. It features
                        my own lazy loader, which wakes the services up on
                        demand, which allows me to host hundreds of these in a
                        tiny AWS E2-micro VM instance.
                        <a href="https://demo-garden.pnetto.com">Dashboard</a> /
                        <a href="https://github.com/pnettto/demo-garden"
                        >Github</a>
                        / <a href="/logs/demo-garden">Blog post</a>
                    </li>

                    <li>
                        Created an UI Kit to make it easier to transport my
                        style into other projects.
                        <a href="https://pnettto.github.io/design-system/"
                        >Showcase</a> /
                        <a href="https://github.com/pnettto/design-system"
                        >Github</a>.
                    </li>

                    <li>
                        Created an Code code-executor.
                        <a
                            href="https://demo-garden.pnetto.com/apps/code-executor.html"
                        >Demo</a> /
                        <a href="https://pnettto.github.io/code-executor/"
                        >Github</a>
                    </li>

                    <li>
                        Published Winter Lights
                        <a
                            href="/photos/winter-lights"
                        >photo album</a>.
                    </li>

                    <li>
                        Created this website.
                        <a
                            href="/logs/pnetto-com"
                        >Blog post</a>
                    </li>

                    <li>
                        Created Hawk, my own to-do app.
                        <a
                            href="/logs/hawk"
                        >Blog post</a>
                    </li>

                    <li>
                        Started at Capgemini as a Data Engineering Intern 🏁
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
