---
layout: layouts/base.njk
title: Now
containerClass: narrow
---

<section id="timeline" class="post-content">
    <h2 class="underlined">Timeline</h2>
    <div class="timeline">
        <div class="timeline-item">
            <div class="timeline-year" id="now">Now</div>
            <a href="#now"></a>

            <div class="timeline-content">
                <ul>
                    <li>
                        2026 loading...
                    </li>
                </ul>
            </div>
        </div>

        <div class="timeline-item">
            <div class="timeline-year" id="2025-12">2025-12</div>
            <a href="#2025-12"></a>

            <div class="timeline-content">
                <ul>
                    <li>
                        Created Demo Garden, a space to host small experiments
                        in whatever environment can be Dockerized. It features
                        my own lazy loader, which wakes the services up on
                        demand, which allows me to host hundreds of these in a
                        tiny AWS E2-micro VM instance.
                        <a href="https://demo-garden.pnetto.com">Dashboard</a> /
                        <a href="https://github.com/pnettto/demo-garden"
                        >Github</a>
                        / <a href="/logs/demo-garden">Blog post</a>
                    </li>

                    <li>
                        Created an UI Kit to make it easier to transport my
                        style into other projects.
                        <a href="https://pnettto.github.io/design-system/"
                        >Showcase</a> /
                        <a href="https://github.com/pnettto/design-system"
                        >Github</a>.
                    </li>

                    <li>
                        Created an Code code-executor.
                        <a
                            href="https://demo-garden.pnetto.com/apps/code-executor.html"
                        >Demo</a> /
                        <a href="https://pnettto.github.io/code-executor/"
                        >Github</a>
                    </li>

                    <li>
                        Published Winter Lights
                        <a
                            href="/photos/winter-lights"
                        >photo album</a>.
                    </li>

                    <li>
                        Created this website.
                        <a
                            href="/logs/pnetto-com"
                        >Blog post</a>
                    </li>

                    <li>
                        Created Hawk, my own to-do app.
                        <a
                            href="/logs/hawk"
                        >Blog post</a>
                    </li>

                    <li>
                        Started at Capgemini as a Data Engineering Intern 🏁
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
