---
layout: layouts/base.njk
title: Welcome
---

<div class="welcome">
    <div class="random-photos" id="randomPhotos">
        <div class="random-photo"></div>
        <div class="random-photo"></div>
        <div class="random-photo"></div>
    </div>

    <div class="intro" id="introBox">
        <div class="intro-inner">
            <h1>Pedro Netto</h1>
            
            <div class="intro-body">
                <p>
                    I'm a
                    <a href="/work#development">web developer</a>
                    with a background in
                    <a href="/work#education">teaching</a>
                    and
                    <a href="/work#entrepreneurship">entrepreneurship</a>.
                </p>
                <p>
                    Learn more
                    <a href="/bio">
                        about me
                    </a>
                    and
                    <a href="/work">my work</a>.
                </p>

                <p class="photos-cta">👈 Here are some random pictures from my 
                    <a href="/photos">photo archive</a>. Click them to see more! 
                </p>
                
                <p class="photos-cta">
                    <a href="#" id="introHideThis">Hide this box</a>.
                </p>
            </div>
        </div>
    </div>
</div>

<script src="/assets/js/intro.js"></script>
<script src="/assets/js/photos.js"></script>