---
layout: layouts/base.njk
title: Welcome
---

<div class="welcome">
    <div class="random-photos" id="randomPhotos">
        <div class="cell1"><div class="random-photo transparent"></div></div>
        <div class="cell2"><div class="random-photo transparent"></div></div>
        <div class="cell3"><div class="random-photo transparent"></div></div>
        <div class="cell4"><div class="random-photo transparent"></div></div>
        <div class="cell5">
            <div class="intro" id="introBox">
                <div class="intro-inner">
                    <h1>Pedro Netto</h1>
                    
                    <div class="intro-body">
                        <p>
                            I'm a
                            <a href="/work#development">web developer</a>
                            with a background in
                            <a href="/work#education">teaching</a>
                            and
                            <a href="/work#entrepreneurship">entrepreneurship</a>.
                        </p>
                        <p>
                            Learn more
                            <a href="/bio">
                                about me
                            </a>
                            and
                            <a href="/work">my work</a>.
                        </p>

                        <p>Here are some random pictures from my 
                            <a href="/photos">photo archive</a>. Click them to see more! 
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    window.PHOTO_LIST = {{ photos | selectedPhotos | json | safe }};
</script>
<script src="/assets/js/intro.js"></script>